<ion-header>
  <ion-toolbar>
    <ion-title>Olvido su contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Mandar</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Proporcione el nombre de usuario o la dirección de correo electrónico que utilizó.
    </small>
  </form>
</ion-content>
